html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    width: 1920px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(255, 255, 255);
    padding: 100px 20px 0px;
    font-size: large;
    font-weight: 600;
}
.header {
    background-color: hsl(184, 76%, 73%);
    min-height: 150px;
}
.pagetitle {
    color: #0000ff5e;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    text-align: center;
}
.content {
    background-color: #ffffff;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(255, 255, 255);
    min-height: 50px;
}
